/*    GENERAL STYLING    */

a {
    text-decoration: none;
    color: #330000;
}
p {
    font-size: larger;
}
.prosessbilde {
    margin-top: 3px;
}
.custom-menu {
    z-index:2000000;
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid black;
    padding: 5px;
    width: 200px;
    font-size: smaller;
}
a:hover {
    text-decoration: none;
    color: #330000;
    font-weight: 400;
}
html {
    height: 100%;
}
body {
    font-family: helvetica;
    border-color: #330000;
    margin: 0;
    padding-top: 20px;
    height: 100%;
    top: -20px;
    position: relative;
}
#wrapper {
    min-height: 100%;
    position: relative;
    margin-bottom: -70px;
}
#wrapper::after {
    content: "";
    display: block;
}

/* FOOTER STYLING */
#footer, #wrapper::after {
    height: 70px;
}
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    height: 70px;
    background-color: #f5f5f5;
    text-align: center;
    padding: 0;
}

.footer > .container {
    padding-top: 10px;
}

/*  HEADER & NAVBAR STYLING   */

h1 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}
.navbar-default {
    background-color: #ffffff;
    border-top: none;
    border-color: #E7E7E7;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li, .navbar-nav li {
    float: none;
    display: inline-block;
    text-align: left;
}

ul.dropdown-menu {
    min-width: 110px;

}
ul.dropdown-menu > li {
    width: 100%;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;

}
.navbar .dropdown .dropdown-menu {
    display: none;
}

/*  HJEM STYLING   */

.karusellbilde {
    border: inset 10px grey;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center center;
}

.velkomsttekst {
    font-size: larger;
}

/* GALLERYNAV STYLING */
.gallerynavcontainer {
    padding-top: 30px;
}
.gallerynavbutton {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}
.gallerynavimage {
    width: 100%;
    padding-top:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
    border: solid 1px black;
}

.gallerynavcontainer .gallerynavbutton:hover .caption {
    font-weight: 300;
}
/* GALLERY STYLING  */

.blueimp-gallery .modal-title {
    font-size: 20px;
    font-weight: 500;
}
.blueimp-gallery p.modal-description {
  color: #222;
  font-size: 15px;
  display: inline-block;
  width: 60%;
  position: relative;
  left: -85px;
  text-align: center;
}

#gallericontainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-xs-6, .col-md-3 {
    padding: 2px;
    height: auto;
}
.thumbnail {
    margin-bottom: 1px;
}

.tommelbildebeholder {
    width: 100%;
    padding-top:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}




